@import "tailwindcss";

:root {
    --white-absolute: #ffffff;
    --white: #E4FAFB;
    --black-absolute: #000000;
    --background: linear-gradient(0deg, #000 0%, #000 100%), #101111;
    --foreground: #99FF00;
    --gray-900: #39404A;
    --gray-700: #454F5C;
    --gray-500: #7A8390;
    --gray-300: #9AA8BB;
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-white-absolute: var(--white-absolute);
    --color-white: var(--white);
    --color-black-absolute: var(--black-absolute);
    --color-gray-900: var(--gray-900);
    --color-gray-700: var(--gray-700);
    --color-gray-500: var(--gray-500);
    --color-gray-300: var(--gray-300);
    --font-chakra-petch: var(--font-chakra-petch);
    --font-normalidad: var(--font-normalidad);
}

body {
    background: var(--background);
    color: var(--white);
    font-family: var(--font-chakra-petch);
}

h1 {
    color: var(--white);
    font-family: var(--font-normalidad);
    font-size: 52px;
    font-style: normal;
    font-weight: 900;
    line-height: 104%;
    letter-spacing: -2.08px;
    text-transform: uppercase;
}

h2 {
    color: #FFF;
    font-family: var(--font-normalidad);
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: 135%;
    letter-spacing: -0.36px;
}

@layer utilities {
    .text-trim {
        leading-trim: both;
        text-edge: cap;
    }
}

@utility container {
    margin: 0px auto;
    max-width: 1440px;
    padding: 0px 20px;
}

@media (max-width: 768px) {
    h1 {
        font-size: 40px;
    }
    h2 {
        font-size: 28px;
    }
}